*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-y: hidden;
}
@font-face{
    font-family: "Finish";
    src: url("./fonts/Montage-Demo.ttf");
}
@font-face{
    font-family: "Firma";
    src: url("./fonts/aAnotherTag.otf");
}
@font-face{
    font-family: "p";
    src: url("./fonts/Poppins/Poppins-Italic.ttf");
}
@font-face{
    font-family: "headerFont";
    src: url("./fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face{
    font-family: "h1";
    src: url("./fonts/Summer\ Dream\ Sans\ DEMO\ .ttf");
}

body{
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    display: grid;
    grid-template-rows: 5vh 20vh 70vh 5vh;
    grid-template-columns: 22vw 78vw;
    grid-template-areas:
        "nav ."
        "nav title"
        "nav mainn"
        "bottom mainn";
}
.title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    grid-area: title;
    font-family: h1;
    color: #FFEE32;
}
#descMain{
    font-size: medium;
    position: absolute;
    top: 20%;
    color: #FFEE32;
}
header{
    grid-area: nav;
    display: flex;
}
header ul{
    position: sticky;
    top: 0%;
    font-family: "headerFont", cursive;
    font-size: large;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    gap: 52px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.headerElement, a, a:visited, a:link, a:active{
    color: #a0b2c4;
    text-decoration: none;
}
a:hover{
    text-decoration-style: solid #FFEE32;
}
.headerElement{
    width: 100%;
    text-align: center;
}
footer{
    grid-area: bottom;
    display: flex;
}
footer ul{
    font-family: "Firma", cursive;
    font-size: 40px;
    display: flex;
    width: 100%;
    gap: 52px;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row-reverse;
}
main{
    height: 100%;
    grid-area: mainn;
    display: flex;
    align-items: center;
    margin: auto;
}
.seccion{
    display: grid;
    grid-template-rows: 45vh;
    grid-template-columns: 20vw 20vw;
    height: auto;
    grid-template-areas: "desc animacionMain";
}
#desc1{
    display: flex;
    align-items: center;
    grid-area: desc;
    font-family: "p", cursive;
    font-size: 19px;
    color: #05386B;
    color: #bdcddb;
}
.animacionMain{
    display: flex;
    align-items: center;
    grid-area: animacionMain;
    justify-content: center;
}
.seccion h2{
    display: grid;
    align-items: center;
    justify-content: center;
}
.hr{
    position: absolute;
    right: 0%;
    height:60vh;
    width:1px;
    background-color: #05386B;
    color: #05386B;
    border: none;
}
.text-shadows{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 151px;
    gap: 6px;
    letter-spacing: 4px;
    width: 100%;
}
#nameFooter a{
    color: black;
}
#rueda1{
    animation: spin 30s infinite;
}
#rueda2{
    animation: spinNeg 28s infinite;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spinNeg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
#subrayadoWavy{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ffffff;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}